@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --narrow-width: 400px;
  --wide-width: 800px;

  --accent-color: #0353E9;
  --account-divider-color: #e0e0e0;
  --divider-color: #c0c0c0;
  --light-text-color: #ffffff;
  --primary-border-color: #8d8d8d;
  --secondary-bg-color: #f4f4f4;
  --secondary-text-color: #525252;
  --warning-bg-color: #FFF1F1;
  --warning-color: #DA1E28;
}

a {
  color: var(--accent-color);
}

body {
  margin: 0;
}

/* Must additionally override. */
button, input {
  font-family: inherit;
}

header {
  align-items: center;
  /* To match space taken up by header on dashboard site. */
  border-bottom: 1px solid transparent;
  display: flex;
  height: 3rem;
  justify-content: start;
  padding: 0 24px 0 24px;
}

header #logo {
  background: url('./logo.svg') 1rem 0 no-repeat;
  /* To match space taken up by logo on dashboard site .*/
  border: .125rem solid transparent;
  display: block;
  font-size: 0;
  height: 18px;
  line-height: 1.25rem;
  padding: 0 2rem 0 1rem;
  width: 81px;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0 0.75rem 0;
}

form {
  .email, .password {
    margin-bottom: 1.25rem;
  }

  .error-message {
    margin-bottom: 1.25rem;
  }
}

form.error-state input {
  border: 1px solid var(--warning-color) !important;
}

input {
  background-color: var(--secondary-bg-color);
  border-color: var(--primary-border-color);
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  width: 100%;
}

label {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem auto;
}

.error-message {
  background-color: var(--warning-bg-color);
  border-color: var(--warning-color);
  border-style: solid;
  border-width: 1px 1px 1px 3px;
  padding: 0.75rem 1.25rem;
}

.main-content {
  display: flex;
  justify-content: center;
}

.primary-action {
  background-color: var(--accent-color);
  border: 0;
  box-sizing: border-box;
  color: var(--light-text-color);
  display: block;
  font-size: 1rem;
  padding: 1.25rem;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.primary-action:hover {
  cursor: pointer;
}

.secondary-action {
  background: none;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  color: var(--accent-color);
  display: block;
  font-size: 1rem;
  padding: 1.25rem;
  text-decoration: none;
  width: 100%;
}

.secondary-action:hover {
  cursor: pointer;
}

.sent-email {
  border-bottom: 1px solid var(--divider-color);
  padding-bottom: 1.25rem;

  .email {
    font-weight: bold;
  }
}
